@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/* ======= colors ======= */
:root {
  --light_blue: #3e98c7;
  --background_color: rgb(27, 28, 32);
  --mid_blue: #1e213f;
  --text_color: #ebebeb;
}

.parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  /* border: 1px solid black; */
  width: 100%;
}
.child {
  margin: 10px;
  /* border: 1px solid red; */
}

main {
  padding: 2rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: rgb(27, 28, 32);
  color: #ebebeb;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
/* *,
*::before,
*::after {
  box-sizing: border-box;
}
*/
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

.clock__container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 20px solid var(--mid_blue);
  border-radius: 50%;
  padding: 0.4rem;
  box-shadow: 10px 10px 20px #101325, -10px -10px 20px #1c203f;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}
.buttons {
  background-color: var(--mid_blue);
  padding: 0.4rem 0.2rem;
  max-width: 400px;
  margin: 2rem auto;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
}
.start {
  position: absolute;
  bottom: 20%;
  letter-spacing: 7px;
  text-transform: uppercase;
}
.btn {
  border: none;
  font-family: inherit;
  padding: 0.7rem 1rem;
  text-align: center;
  color: inherit;
  background-color: transparent;
  font-size: inherit;
  border-radius: 30px;
  transition: 200ms ease-in-out;
  cursor: pointer;
}
.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.btn-form {
  border: none;
  font-family: inherit;
  padding: 0.5rem 1rem;
  text-align: center;
  color: white;
  background-color: var(--light_blue);
  font-size: inherit;
  border-radius: 10px;
  transition: 200ms ease-in-out;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}
.btn.active {
  background-color: var(--light_blue);
}

@media (max-width: 300px) {
  main {
    padding: 2rem 1rem;
  }
  .box {
    max-width: 300px;
  }
  .buttons {
    flex-direction: column;
    border-radius: 10px;
  }
  .btn {
    border-radius: 10px;
  }
}

/* ===== ToDo List ===== */

form {
  border: 3px solid #30313d;
  border-radius: 10px;
  padding: 5px;
  display: flex;
}
form input[type="text"] {
  background: none;
  color: var(--text_color);
  border: 0;
  padding: 0 8px;
  display: block;
  width: 100%;
}
form button {
  background-color: var(--light_blue);
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}

div.task {
  background-color: #30313d;
  border-radius: 10px;
  padding: 5px 9px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  transition: opacity 0.3s linear;
}
div.task svg {
  height: 20px;
  margin-right: 6px;
  fill: var(--light_blue);
}
div.task.done {
  opacity: 0.3;
}
div.task-name,
div.task form {
  flex-grow: 1;
}
div.task span {
  position: relative;
}
div.task span:before {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  top: 10px;
  transition: width 0.1s linear;
}
div.task.done span:before {
  width: 100%;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

div.checkbox {
  display: flex;
  align-items: center;
}

button.trash {
  background: none;
  border: none;
  display: flex;
  cursor: pointer;
}
button.trash svg {
  fill: #888;
  height: 14px;
}
div.task input {
  border: 2px solid #555;
  border-radius: 5px;
  padding: 2px 4px;
}
